<!DOCTYPE html>
<html>

<head>
    <title>Example</title>
</head>

<body>
    <h2>User Registration</h2>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <span>{{msg}}</span>
        <input type="submit" value="Register">
    </form>
    <hr>
    <h2>User Login</h2>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <span>{{user_msg}}</span>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <span>{{pass_msg}}</span>
        <input type="submit" value="Login">
    </form>
    <hr>
    <h2>User Logout</h2>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
</body>

</html>